<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "Feedr" %></title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

    <style>
      body {
        font-family: sans-serif;
        color:'#343a40';
        max-width: 800px;
        margin: 0 auto;
      }

      a:active {
        color: inherit;
      }

      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3em;
        margin-inline: 1em;
      }

      nav > a {
        text-decoration: underline;
        color: inherit;
        cursor: pointer;
      }

      main {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 4em;
      }

      .active-link {
        text-decoration: none;
        color: inherit;
      }

      #feedr-text {
        text-decoration: none;
        color: inherit;
      }
    </style>

  </head>
  <body>
    <header>
      <nav>
        <% if current_user %>
          <h1><a id='feedr-text' href='/'><%= current_user['name'] %>'s Feedr</a></h1>
        <% else %>
          <h1><a id='feedr-text' href='/'>Feedr</a></h1>
        <% end %>

        <a href="/" class="<%= is_active_link('/') %>">Home</a>
        <a href='/guide' class="<%= is_active_link('/guide') %>">Guide</a>
        <% if current_user %>
          <a href='/feeds' class="<%= is_active_link('/feeds') %>">My feeds</a>

          <a hx-delete='/logout' hx-trigger='click'>Logout</a>
        <% else %>
          <a href='/login' class="<%= is_active_link('/login') %>">Login</a>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
