<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "Feedr" %></title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

    <style>
      body {
        font-family: sans-serif;
        color: #334155;
      }

      a:active {
        color: inherit;
      }

      header {
        background-color: #f9a8d4;
      }

      nav {
        color: #1e293b;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
      }

      nav > a {
        text-decoration: underline;
        color: inherit;
        cursor: pointer;
      }

      main {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 4em;
        margin-bottom: 2em;
        padding-inline: 2em;
      }

      #feeds-cont {
        display: grid;
        grid-template-columns: max-content min-content min-content;
        column-gap: 2em;
        row-gap: 1em;
        margin-bottom: 2em;
      }

      .guide-screenshot {
        margin-block: 2em;
        max-width: 100%;
        object-fit: cover;
      }

      .active-link {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
      }

      #feedr-text {
        text-decoration: none;
        color: inherit;
      }

      @media (max-width: 600px) {
        #feedr-text-cont {
          display: none;
        }

        nav {
          padding-block: 2em;
          padding-inline: 1em;
        }
      }
    </style>

  </head>
  <body>
    <header>
      <nav>
        <div id='feedr-text-cont'>
          <% if current_user %>
            <h1><a id='feedr-text' href='/'><%= current_user['name'] %>'s Feedr</a></h1>
          <% else %>
            <h1><a id='feedr-text' href='/'>Feedr</a></h1>
          <% end %>
        </div>

        <a href="/" class="<%= is_active_link('/') %>">Home</a>
        <a href='/guide' class="<%= is_active_link('/guide') %>">Guide</a>
        <% if current_user %>
          <a href='/feeds' class="<%= is_active_link('/feeds') %>">My feeds</a>

          <a hx-delete='/logout' hx-trigger='click' hx-confirm='Are you sure you want to logout?'>Logout</a>
        <% else %>
          <a href='/login' class="<%= is_active_link('/login') %>">Login</a>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
