<section>
  <form autocomplete='off' hx-ext='json-enc' hx-post='/extract' hx-target='#extractions' hx-trigger='submit' hx-swap='outerHTML'>
    <label>
      URL
      <br>
      <input autocomplete='off' autofocus required type='url' id='url' name='url' value='<%= feed["url"] %>'>
    </label>

    <br>
    <br>

    <label>Enter item identifiers
      <br>
      <textarea required id='identifiers' name='identifiers' cols='70' rows='3'><%= feed["identifiers"] %></textarea>

    </label>

    <br>
    <br>

    <button id='extract' hx-indicator='#spinner'>
      Extract
    </button>

  </form>
  <br>

  <textarea readonly id='extractions' name='extractions' cols='70' rows='10'></textarea>
</section>

<br>
<br>

<section>
  <form autocomplete='off' hx-ext='json-enc' hx-post='/feed/<%= feed["id"] %>/update' hx-trigger='submit' hx-include='#url, #identifiers'>
    <label>
      Feed Title
      <br>
      <input required id='feed_title' name='feed_title' value='<%= feed["feed_title"] %>'>
    </label>

    <br>
    <br>

    <label>
      Feed Link
      <br>
      <input type='url' required id='feed_link' name='feed_link' value='<%= feed["feed_link"] %>'>
    </label>

    <br>
    <br>

    <label>
      Feed Description
      <br>
      <textarea required id='feed_description' name='feed_description' rows='4' cols='70'><%= feed["feed_description"] %></textarea>
    </label>

    <br>
    <br>

    <button id='update'>
      Update Feed
    </button>
  </form>
</section>

<div id='updated'></div>
